@import "tailwindcss";
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --bg: #FBFAF8;   
}

body {
  background-color: var(--bg);
  font-family: "Inter", sans-serif;
}

.playfair-font {
  font-family: "Playfair", serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", serif;
}